{% extends 'layout.html.twig' %}

{% block content %}

    <div class="wrapper advertShow">
        <h1> {{ advert.title }}</h1>
        <div class="container">
            <div class="advertContainer">

                <h2>
                    {# AVERAGE RATE #}
                    {% for index in average %}
                        {% if advert.id == index.advert %}
                            <p class="rate">{{ index.average }}/5  <span>pour {{index.nbRate}} avis<span></p>
                        {% endif %}
                    {% endfor %}
                    
                    {# HELPER #}
                    <a href="/user/userShow/{{ user.id }}" >by {{user.lastName}} {{user.firstName}}</a>
                    
                </h2>
                
                <div>
                    {# DESCRIPTION AND DISPONIBILITY#}
                    <p> {{ advert.description }}</p>
                    <p>  {{ disponibility.timeTable }} </p>
                </div>

            {# If SESSION.USER.ADVERT OR ADMIN #}
                {% if session.user.status == '1' or session.user.id == advert.user_id %}
                   <div class="adminBtnContainer">
                        <a href="/Advert/edit/{{ advert.id }}">Edit</a>
                    
                        <form class="delete" action="/Advert/delete/{{advert.id}}" method="POST">
                            <button>Delete</button>
                        </form>
                    </div>
                
                {% endif %}

                <div class="btnAsk">
                {# ASK HELP OR BACK #}
                    {% if session.user.id != user.id  and session.user.badge > 0 %}
                        <a href="/Adverthelp/add/?advert_id={{advert.id}}&user_id={{user.id}}"><span>Demander l'aide</span></a>
                    {% elseif session.user.id != user.id  and session.user.badge <= 0 %}
                        <p>Vous n'avez plus de badge pour demander de l'aide, aidez la communautée puis revenez !</p>
                    {% endif %}
                </div>
                
            </div>
        
            <div class="reviewsContainer">
                {# REVIEWS AND RATE #}
                <div class="reviews">
                <h2>Les avis</h2> 
                    
                    
                        {% for review in reviews %}
                                {% if review.advert_id == advert.id %}
                                    <div class="review">
                                    {% for user in users %}
                                        {% if review.user_id == user.id %}
                                            <div class="reviewer">
                                                <div> <img src="/assets/images/membres/avatars/{{user.avatar}}" alt"avatar"> </div>
                                                <a href="/user/userShow/{{ user.id }}" > {{user.lastName}} {{user.firstName}}</a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <p class="rate">{{review.rate}}/5 <span>-Posté le : {{review.date|slice(0,10)}}</span></p>
                                    <p class="comment">{{review.comment}}</p>
                                    </div>
                                {% endif %}
                            
                        {% endfor %}
                    </div>
                </div>
            

        </div>
    </div>
{% endblock %}