{% extends 'layout.html.twig' %}

{% block content %}

    {% for key in adverthelp %}
        <p> {{ key.date }}</p>
        <p> {{ key.message }}</p>
     {% endfor %}

    <form action="" method="POST">
        <a href="/AdvertHelp/respond/?advert_id={{adverthelp.0.advert_id}}&user_id={{adverthelp.0.user_id}}&id_chat={{adverthelp.0.id_chat}}">Ajouter un message</a>
    </form>

    <a href="/user/userShow/{{session.user.id}}">Retour</a>

{% endblock %}
